@using hbehr.recaptcha
@model NetFlask.Models.LoginRegisterModel

@{
    ViewBag.Title = "Login";
}
@section MoreCss
{
    <link href="~/css/loginstyle.css" rel="stylesheet" type="text/css" />
}
<div class="top-header">
    <div class="logo">
        <a href="index.html"><img src="/images/logo.png" alt="" /></a>

    </div>
    <div class="search">
        <form>
            <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
            <input type="submit" value="">
        </form>
    </div>
    <div class="clearfix"></div>
</div>
<br />
<div class="container">
    <div class="card card-login mx-auto text-center bg-dark">
        <div class="card-header mx-auto bg-dark">
            <h1 class="login-title">Login</h1><br />

        </div>
        <div class="card-body">
            <form action="/Account/Login" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                    </div>
                    <input type="text" name="Login" class="form-control text-box single-line" placeholder="Username">
                    @Html.ValidationMessageFor(model => model.LoginModel.Login, "", new { @class = "text-danger" })
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <input type="password" name="Password" class="form-control text-box single-line" placeholder="Password">
                    @Html.ValidationMessageFor(model => model.LoginModel.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <input type="submit" name="btn" value="Connectez-vous" class="btn btn-outline-danger float-right login_btn">

                    @ViewBag.Error
                </div>

            </form>

        </div>
        <hr />
        <h2>OU</h2>
        <hr />
        <div class="card-header mx-auto bg-dark">
            <h1 class="login-title">

                Enregistrez-vous
            </h1><br />

        </div>
        <div class="card-body">
            <form action="/Account/Register" method="post">
                @Html.AntiForgeryToken()
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-pencil"></i></span>
                    </div>
                    <input type="text" name="FirstName" class="form-control text-box single-line" placeholder="First Name">
                    @Html.ValidationMessageFor(model => model.UserModel.FirstName, "", new { @class = "text-danger" })
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-pencil"></i></span>
                    </div>
                    <input type="text" name="LastName" class="form-control text-box single-line" placeholder="Last Name">
                    @Html.ValidationMessageFor(model => model.UserModel.LastName, "", new { @class = "text-danger" })
                </div>
                //https://restcountries.eu/rest/v2/all




                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-user"></i></span>
                    </div>
                    <input type="text" name="Login" class="form-control text-box single-line" placeholder="Username">
                    @Html.ValidationMessageFor(model => model.UserModel.Login, "", new { @class = "text-danger" })
                </div>

                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <input type="password" name="Password" class="form-control text-box single-line" placeholder="Password">
                    @Html.ValidationMessageFor(model => model.UserModel.Password, "", new { @class = "text-danger" })
                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="glyphicon glyphicon-lock"></i></span>
                    </div>
                    <input type="password" name="ConfirmPassword" class="form-control text-box single-line" placeholder="Confirm Password">
                    @Html.ValidationMessageFor(model => model.UserModel.ConfirmPassword, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <hr />
                    @*@ReCaptcha.GetCaptcha()*@
                    <hr />
                    <input type="submit" name="btn" value="Connectez-vous" class="btn btn-outline-danger float-right login_btn">

                    @ViewBag.Error
                </div>

            </form>
        </div>
    </div>
