@model NetFlask.Models.VideosViewModel
@section MoreCss
{
    @Styles.Render("~/Content/magnificpopup")
}
@section BiblioScripts
{
    @Scripts.Render("~/bundles/magnificpopup")
}
@section CustomScripts
{
    <!-- pop-up-box -->


    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>

    <!--//pop-up-box -->
}
<div class="video-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="index.html"><img src="/images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="right-content">
        <div class="right-content-heading">
            <div class="right-content-heading-left">
                <h3 class="head">Latest Colletcion of videos</h3>
            </div>
        </div>


        <div class="content-grids">

            @foreach (var item in Model.Tiles)
            {
                string lesClasses = "content-grid";
                if (item.IsLastCol) { lesClasses += " last-grid"; }


                <div class="@lesClasses">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog-@item.Name"><img src="/images/@item.Picture" title="@item.Name" /></a>
                    <h3>@item.Description</h3>
                    <ul>
                        <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                        <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                        <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                    </ul>
                    <a class="button play-icon popup-with-zoom-anim" href="#small-dialog-@item.Name">Watch now</a>
                </div> 
                <div id="small-dialog-@item.Name" class="mfp-hide MaBox">
                    <iframe src="@item.Video" frameborder="0" allowfullscreen></iframe>
                </div>
            }


        </div>
            <div class="clearfix"> </div>
            <!---start-pagenation----->
            <div class="pagenation">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!---End-pagenation----->
        </div>
    </div>
    <div class="clearfix"> </div>
</div>

