@model NetFlask.Models.ReviewModel
<div class="review">
    <div class="movie-pic">
        <a href="single.html"><img src="@Model.Movie.MediumPoster" alt="" /></a>
    </div>
    <div class="review-info">
        <a class="span" href="single.html">@Model.Movie.Title  <i>Movie Review</i></a>
        <p class="dirctr"><a href="">@Model.User</a>, @Model.Locality,@Model.ReviewDate.Day @Model.ReviewDate.ToString("MMMM") @Model.ReviewDate.Year</p>
        <p class="ratingview">Critic's Rating:</p>
        <div class="rating-star">
            @{
                double unite = Math.Floor(Model.CriticRating * 2) / 2;
                double reste = Model.CriticRating - unite;
                int temp = 0;

                for (int i = 0; i < unite; i++)
                {
                    temp++;
                    @:<span class="rating-star full-star"></span>
                }

                if (reste > 0)
                {
                    @:<span class="rating-star half-star"></span>
                }

                for (int i = ((int)unite) + 1; i <= 5; i++)
                {
                    @:<span class="rating-star empty-star"></span>
                }
            }

        </div>
        <p class="ratingview">
            &nbsp;@Model.CriticRating/5
        </p>
        <div class="clearfix"></div>
        <p class="ratingview c-rating">Avg Readers' Rating:</p>
        <div class="rating-star">
            @{
                unite = Math.Floor(Model.ReaderRating * 2) / 2;
                reste = Model.ReaderRating - unite;

                for (int i = 0; i < unite; i++)
                {
                    @:<span class="rating-star full-star"></span>
                }

                if (reste > 0)
                {

                    @:<span class="rating-star half-star"></span>
                }
                for (int i = ((int)unite) + 1; i < 5; i++)
                {
                    @:<span class="rating-star empty-star"></span>
                }
            }
        </div>
        <p class="ratingview c-rating">
            &nbsp; @Model.ReaderRating/5
        </p>
        <div class="clearfix"></div>
        <div class="wt text-center">
            <a href="#">WATCH THIS TRAILER</a>
        </div>
        <br clear="all" />
        @if (NetFlask.Infra.SessionUtils.IsLogged)
        {
            @:<form method="post" action="~/Home/Reviews">
                @:<div class="yrw">
                    @:<div class="dropdown-button">
                        @:<select class="dropdown" name="rate" tabindex="9" data-settings='{"wrapperClass":"flat"}'>
                            @:<option value="0">Your rating</option>
                            @:<option value="1">1.Poor</option>
                            @:<option value="1,5">1.5(Below average)</option>
                            @:<option value="2">2.Average</option>
                            @:<option value="2,5">2.5(Above average)</option>
                            @:<option value="3">3.Watchable</option>
                            @:<option value="3,5">3.5(Good)</option>
                            @:<option value="4,5">4.5(Very good)</option>
                            @:<option value="5">5.Outstanding</option>
                        @:</select>
                    @:</div>
                    @:<div class="rtm text-center">
                    <input type="hidden" value="@Model.Movie.IdMovie" />
                        @:<input type="submit" class="btn btn-danger" value="REVIEW THIS MOVIE" />
                    @:</div>
                    @:<div class="clearfix"></div>
                @:</div>
            @:</form>
        }
        <p class="info">CAST:&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Movie.Directors</p>
        <p class="info">DIRECTION: &nbsp;&nbsp;&nbsp;&nbsp;@Model.Movie.Directors</p>
        <p class="info">GENRE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Movie.Genres</p>
        <p class="info">DURATION:&nbsp;&nbsp;&nbsp; &nbsp; @Model.Movie.Duration.Hours hour @Model.Movie.Duration.Minutes minutes</p>
    </div>
    <div class="clearfix"></div>
</div>

